{% load static %} {% spaceless %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="description" content="♥♥♥ Đếm ngày bên nhau ♥♥♥">
            <meta name="keyword" content="♥♥♥ Đếm ngày bên nhau ♥♥♥">
            <meta name="author" content="Hữu Tuấn Anh">

            <meta property="og:url"                content="{% url 'website:trang_chu'%}" />
            <meta property="og:type"               content="website" />
            <meta property="og:title"              content="♥♥♥ Đếm ngày bên nhau ♥♥♥" />
            <meta property="og:description"        content="♥♥♥ Đếm ngày bên nhau ♥♥♥" />
            <meta property="og:image"              content="https://hta-website.s3.amazonaws.com/media/wedding/tuan-anh-kim-oanh_oNGabVr.jpg" />
            <meta property="og:image:width"              content="1200" />
            <meta property="og:image:height"              content="630" />
            <meta property="og:locale"              content="vi_VN" />
    <title>Đếm ngày yêu nhau</title>
    <link href="{% static 'love_story/count_days.css' %}" rel="stylesheet" />
    <link href="{% static 'love_story/count_down.css' %}" rel="stylesheet" />
  </head>
  <body>
    <!-- Inspired by https://codepen.io/al-ro/pen/BaaBage -->

    <a
      class="reference"
      href="{% url "weddings:true_love_custom" "tuan-anh-kim-oanh" %}"
      target="_blank"
      >♡ Xem lễ cưới của chúng tôi ♡<br>Tuấn Anh ♥ Kim Oanh </a
    >

    <div class="heart">
      <svg width="150" height="150" viewBox="0 0 150 150">
        <g transform="translate(100 100)">
          <path
            transform="translate(-75 -75)"
            stroke="#fff"
            stroke-width="2"
            stroke-linecap="round"
            fill="none"
            d="M92.71,7.27L92.71,7.27c-9.71-9.69-25.46-9.69-35.18,0L50,14.79l-7.54-7.52C32.75-2.42,17-2.42,7.29,7.27v0 c-9.71,9.69-9.71,25.41,0,35.1L50,85l42.71-42.63C102.43,32.68,102.43,16.96,92.71,7.27z"
          ></path>
        </g>
      </svg>
      <div class="gradient"></div>
      <svg width="150" height="150" viewBox="0 0 150 150">
        <g transform="translate(100 100)">
          <path
            transform="translate(-75 -75)"
            stroke="#fffa"
            stroke-width="1"
            stroke-linecap="round"
            fill="none"
            d="M92.71,7.27L92.71,7.27c-9.71-9.69-25.46-9.69-35.18,0L50,14.79l-7.54-7.52C32.75-2.42,17-2.42,7.29,7.27v0 c-9.71,9.69-9.71,25.41,0,35.1L50,85l42.71-42.63C102.43,32.68,102.43,16.96,92.71,7.27z"
          ></path>
        </g>
      </svg>
    </div>

    <div class="background"></div>
    <div class="clock">
      <ul id="countdown">
        <li id="days" style="width: 40%;">
          <div class="number">00</div>
          <div class="label">Ngày</div>
        </li>
        <li id="hours" style="width: 30%;">
          <div class="number">00</div>
          <div class="label">Giờ</div>
        </li>
        <li id="minutes" style="width: 30%;">
          <div class="number">00</div>
          <div class="label">Phút</div>
        </li>
        <!-- <li id="seconds"> -->
        <!--   <div class="number">00</div> -->
        <!--   <div class="label">Seconds</div> -->
        <!-- </li> -->
      </ul>
    </div>
    <script src="{% static 'true_love/js/jquery-1.11.3.min.js' %}"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="{% static 'love_story/count_down.js' %}"></script>
  </body>
</html>
{% endspaceless %}
