<div class="overlay"></div>
<div class="container">
  <div class="row section-heading">
    <div class="col col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
      <h2>Những lời chúc đã gửi</h2>
    </div>
  </div>
  <div class="row content">
    <div class="from-wrapper col col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
      <form class="form-inline">
        <div class="wish-box">
          {% for wish in wishes %}
          {% if forloop.counter0|divisibleby:2 %}
          <div class="wish-box-item ">
            <strong>{{ wish.name }}</strong>
            <p>{{ wish.message|safe|escapejs }}</p>
          </div>
          {% else %}
          <div class="wish-box-item bg">
            <strong>{{ wish.name }}</strong>
            <p>{{ wish.message|safe|escapejs }}</p>
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </form>
    </div>
  </div>
  <!-- end of content -->
</div>
