{% load static %}
{% spaceless %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Glanz</title>


<!-- Favicon -->
<link rel="icon" href="{% static 'glanz/golden/images/favicon.ico' %}" type="image/x-icon">

<!-- Library CSS -->
<link href="{% static 'glanz/golden/css/glanz_library.css' %}" rel="stylesheet">

<!-- Icons CSS -->
<link href="{% static 'glanz/golden/fonts/themify-icons.css' %}" rel="stylesheet">

<!-- Theme CSS -->
<link href="{% static 'glanz/golden/css/glanz_style.css' %}" rel="stylesheet">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Dosis:300,400,600,700%7COpen+Sans:300,400,700%7CPlayfair+Display:400,400i,700,700i" rel="stylesheet">

<!-- Other Fonts -->
<link href="{% static 'glanz/golden/fonts/marsha/stylesheet.css' %}" rel="stylesheet">

</head>


<!-- Body -->
<body class="gla_middle_titles">


<!-- Page -->
<div class="gla_page" id="gla_page">



    <!-- To Top -->
    <a href="#gla_page" class="gla_top ti ti-angle-up gla_go"></a>

    <!-- Music -->
    <div class="gla_music_icon">
        <i class="ti ti-music"></i>
    </div>
    <div class="gla_music_icon_cont">
        <iframe src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/47701713&amp;auto_play=true&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
    </div>

    <!-- Header -->
    <header>



        <nav class="gla_light_nav gla_transp_nav">

            <div class="container">

                <div class="gla_logo_container clearfix">
                  <img src="{% static 'glanz/golden/images/glanz_logo.png' %}" alt="" class="gla_logo_rev">
                    <div class="gla_logo_txt">
                        <!-- Logo -->
                        <a href="/" class="gla_logo">Ian & Kelsey</a>

                        <!-- Text Logo -->
                        <div class="gla_logo_und">August 10, 2017</div>
                    </div>
                </div>

                <!-- Menu -->
                <div class="gla_main_menu gla_main_menu_mobile">

                    <div class="gla_main_menu_icon">
                        <i></i><i></i><i></i><i></i>
                        <b>Menu</b>
                        <b class="gla_main_menu_icon_b">Back</b>
                    </div>
                </div>

                <!-- Menu Content -->
                <div class="gla_main_menu_content gla_image_bck" data-color="rgba(0,0,0,0.9)" data-image="{% static 'glanz/golden/images/wedding/ian_kelsey/14795026036_19a656e3f6_k.jpg' %}">
                    <!-- Over -->
                    <div class="gla_over" data-color="#000" data-opacity="0.7"></div>
                </div>

                <div class="gla_main_menu_content_menu gla_wht_txt text-right">
                    <div class="container">
                        <ul>
                            <li class="gla_parent"><a href="#">Demos</a>
                                <ul>
                                    <li><a href="#">Home 1 - Animated Flowers</a></li>
                                    <li><a href="#">Home 2- Pink Animated Flowers</a></li>
                                    <li><a href="#">Home 3 - Golden Badges</a></li>
                                    <li><a href="#">Home 4 - Great Flowers</a></li>
                                    <li><a href="#">Home 5 - Great Flowers</a></li>
                                    <li><a href="#">Home 6 - Great Flowers</a></li>
                                    <li><a href="#">Home 7 - Parallax</a></li>
                                    <li><a href="#">Home 8 - Landing</a></li>
                                </ul>
                            </li>

                            <li class="gla_parent"><a href="#">Business</a>
                                <ul>
                                    <li><a href="#">Wedding Planner</a></li>
                                    <li><a href="#">Wedding Flowers</a></li>
                                    <li><a href="#">Wedding Cakes</a></li>
                                </ul>
                            </li>

                            <li class="gla_parent"><a href="#">Invitations</a>
                                <ul>
                                    <li><a href="#">Invitation 1</a></li>
                                    <li><a href="#">Invitation 2</a></li>
                                    <li><a href="#">Invitation 3</a></li>
                                    <li><a href="#">Invitation 4</a></li>
                                </ul>
                            </li>

                            <li class="gla_parent"><a href="#">Blog</a>
                                <ul>
                                    <li><a href="#">Blog with Sidebar</a></li>
                                    <li><a href="#">Blog Full Width</a></li>
                                    <li><a href="#">Single Post with Sidebar</a></li>
                                    <li><a href="#">Single Post Full Width</a></li>
                                </ul>
                            </li>
                            <li class="gla_parent"><a href="#">Shop</a>
                                <ul>
                                    <li><a href="#">Shop Category</a></li>
                                    <li><a href="#">Shop Category with Sidebar</a></li>
                                    <li><a href="#">Shop Item Page</a></li>
                                    <li><a href="#">Shop Cart</a></li>
                                    <li><a href="#">Shop Checkout</a></li>
                                </ul>
                            </li>
                            <li class="gla_parent"><a href="#">Elements</a>
                                 <ul class="mega-menu">

                                    <li class="mega-menu-col">
                                        <ul>
                                            <li class="mega-menu-col-header">Shortcodes</li>
                                            <li><a href="#"></i> Accordions</a></li>
                                            <li><a href="#"></i> Tabs</a></li>
                                            <li><a href="#"></i> Buttons</a></li>
                                            <li><a href="#"></i> Labels</a></li>
                                            <li><a href="#"></i> Alerts</a></li>
                                            <li><a href="#"></i> Lightbox</a></li>
                                            <li><a href="#"></i> Progress Bars</a></li>
                                            <li><a href="#"></i> Counters & Charts</a></li>
                                            <li><a href="#"></i> Twitter Feeds</a></li>
                                        </ul>
                                    </li>
                                    <li class="mega-menu-col">
                                        <ul>
                                            <li class="mega-menu-col-header">Wedding Elements</li>
                                            <li><a href="#">When & Where Blocks</a></li>
                                            <li><a href="#">Friends Blocks</a></li>
                                            <li><a href="#">About Us Blocks</a></li>
                                            <li><a href="#">Save the Date Blocks</a></li>
                                            <li><a href="#">RSVP Blocks</a></li>
                                            <li><a href="#">All Animated Badges</a></li>
                                        </ul>
                                    </li>
                                    <li class="mega-menu-col">
                                        <ul>
                                            <li class="mega-menu-col-header">Other</li>
                                            <li><a href="#">Testimonials Page</a></li>
                                            <li><a href="#">Passpartu Page</a></li>
                                            <li><a href="#">Preloader Page</a></li>
                                            <li><a href="#">Video Intro Page</a></li>
                                            <li><a href="#">Video Slider Page</a></li>
                                            <li><a href="#">Video Section Page</a></li>
                                            <li><a href="#">Slider Page</a></li>
                                        </ul>
                                    </li>
                                    <li class="mega-menu-col">
                                        <ul>
                                            <li class="mega-menu-col-header">Headers & Footers</li>
                                            <li><a href="#">Transparent Header</a></li>
                                            <li><a href="#">White Header</a></li>
                                            <li><a href="#">Black Header</a></li>
                                            <li><a href="#">Image Header</a></li>
                                            <li><a href="#">Grey Footer</a></li>
                                            <li><a href="#">Black Footer</a></li>
                                            <li><a href="#">White Footer</a></li>
                                            <li><a href="#">Simple Footer</a></li>
                                        </ul>
                                    </li>


                                </ul>
                            </li>


                        </ul>
                        <div class="gla_main_menu_content_menu_copy">
                            <form>
                                <input type="text" class="form-control" placeholder="Enter Your Keywords">
                                <button type="submit" class="btn">
                                  Search
                                </button>
                            </form>
                            <br>
                            <p>© GlanzThemes 2017</p>
                            <!-- Social Buttons -->
                            <div class="gla_footer_social">
                                <a href="#"><i class="ti ti-facebook gla_icon_box"></i></a>
                                <a href="#"><i class="ti ti-instagram gla_icon_box"></i></a>
                                <a href="#"><i class="ti ti-google gla_icon_box"></i></a>
                                <a href="#"><i class="ti ti-youtube gla_icon_box"></i></a>
                                <a href="#"><i class="ti ti-twitter gla_icon_box"></i></a>
                                <a href="#"><i class="ti ti-pinterest gla_icon_box"></i></a>
                            </div>

                        </div>
                    </div>
                    <!-- container end -->
                </div>
                <!-- menu content end -->

                <!-- Search Block -->
                <div class="gla_search_block">

                    <div class="gla_search_block_link gla_search_parent"><i class="ti ti-search"></i>
                        <ul>
                            <li>
                                <form>
                                    <input type="text" class="form-control" placeholder="Enter Your Keywords">
                                    <button type="submit" class="btn">
                                      <i class="ti ti-search"></i>
                                    </button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Search Block End -->

                <!-- Top Menu -->
                <div class="gla_default_menu">
                    <ul>
                        <li class="gla_parent"><a href="#">Demos</a>
                            <ul>
                                <li><a href="#">Home 1 - Animated Flowers</a></li>
                                <li><a href="#">Home 2- Pink Animated Flowers</a></li>
                                <li><a href="#">Home 3 - Golden Badges</a></li>
                                <li><a href="#">Home 4 - Great Flowers</a></li>
                                <li><a href="#">Home 5 - Great Flowers</a></li>
                                <li><a href="#">Home 6 - Great Flowers</a></li>
                                <li><a href="#">Home 7 - Parallax</a></li>
                                <li><a href="#">Home 8 - Landing</a></li>
                            </ul>
                        </li>

                        <li class="gla_parent"><a href="#">Business</a>
                            <ul>
                                <li><a href="#">Wedding Planner</a></li>
                                <li><a href="#">Wedding Flowers</a></li>
                                <li><a href="#">Wedding Cakes</a></li>
                            </ul>
                        </li>

                        <li class="gla_parent"><a href="#">Invitations</a>
                            <ul>
                                <li><a href="#">Invitation 1</a></li>
                                <li><a href="#">Invitation 2</a></li>
                                <li><a href="#">Invitation 3</a></li>
                                <li><a href="#">Invitation 4</a></li>
                            </ul>
                        </li>

                        <li class="gla_parent"><a href="#">Blog</a>
                            <ul>
                                <li><a href="#">Blog with Sidebar</a></li>
                                <li><a href="#">Blog Full Width</a></li>
                                <li><a href="#">Single Post with Sidebar</a></li>
                                <li><a href="#">Single Post Full Width</a></li>
                            </ul>
                        </li>
                        <li class="gla_parent"><a href="#">Shop</a>
                            <ul>
                                <li><a href="#">Shop Category</a></li>
                                <li><a href="#">Shop Category with Sidebar</a></li>
                                <li><a href="#">Shop Item Page</a></li>
                                <li><a href="#">Shop Cart</a></li>
                                <li><a href="#">Shop Checkout</a></li>
                            </ul>
                        </li>
                        <li class="gla_parent"><a href="#">Elements</a>
                             <ul class="mega-menu">

                                <li class="mega-menu-col">
                                    <ul>
                                        <li class="mega-menu-col-header">Wedding Elements</li>
                                        <li><a href="#">When & Where Blocks</a></li>
                                        <li><a href="#">Friends Blocks</a></li>
                                        <li><a href="#">About Us Blocks</a></li>
                                        <li><a href="#">Save the Date Blocks</a></li>
                                        <li><a href="#">RSVP Blocks</a></li>
                                        <li><a href="#">All Animated Badges</a></li>
                                    </ul>
                                </li>

                                <li class="mega-menu-col">
                                    <ul>
                                        <li class="mega-menu-col-header">Shortcodes</li>
                                        <li><a href="#"></i> Accordions</a></li>
                                        <li><a href="#"></i> Tabs</a></li>
                                        <li><a href="#"></i> Buttons</a></li>
                                        <li><a href="#"></i> Labels</a></li>
                                        <li><a href="#"></i> Alerts</a></li>
                                        <li><a href="#"></i> Lightbox</a></li>
                                        <li><a href="#"></i> Progress Bars</a></li>
                                        <li><a href="#"></i> Counters & Charts</a></li>
                                        <li><a href="#"></i> Twitter Feeds</a></li>
                                    </ul>
                                </li>
                                <li class="mega-menu-col">
                                    <ul>
                                        <li class="mega-menu-col-header">Other</li>
                                        <li><a href="#">Testimonials Page</a></li>
                                        <li><a href="#">Preloader Page</a></li>
                                        <li><a href="#">Video Intro Page</a></li>
                                        <li><a href="#">Video Slider Page</a></li>
                                        <li><a href="#">Video Section Page</a></li>
                                        <li><a href="#">Slider Page</a></li>
                                    </ul>
                                </li>
                                <li class="mega-menu-col">
                                    <ul>
                                        <li class="mega-menu-col-header">Headers & Footers</li>
                                        <li><a href="#">Transparent Header</a></li>
                                        <li><a href="#">White Header</a></li>
                                        <li><a href="#">Black Header</a></li>
                                        <li><a href="#">Image Header</a></li>
                                        <li><a href="#">Grey Footer</a></li>
                                        <li><a href="#">Black Footer</a></li>
                                        <li><a href="#">White Footer</a></li>
                                        <li><a href="#">Simple Footer</a></li>
                                    </ul>
                                </li>


                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- Top Menu End -->



            </div>
            <!-- container end -->
        </nav>

    </header>
    <!-- Header End -->


    <!-- Slider -->
    <div class="gla_slider gla_image_bck  gla_wht_txt gla_fixed"  data-image="{% static 'glanz/golden/images/wedding/ian_kelsey/14812748891_aef5b27a4a_k.jpg' %}" data-stellar-background-ratio="0.2">

        <!-- Over -->
        <div class="gla_over" data-color="#000" data-opacity="0.7"></div>


        <div class="container">


            <!-- Slider Texts -->
            <div class="gla_slide_txt gla_slide_center_middle text-center">
              <p><img src="{% static 'glanz/golden/images/animations/ourwedding_gold.gif' %}" alt="" height="330"></p>
                <div class="gla_slide_subtitle">Ian & Kelsey <br>August 10, 2017</div>
            </div>
            <!-- Slider Texts End -->

        </div>
        <!-- container end -->

        <!-- Slide Down -->
        <a class="gla_scroll_down gla_go" href="#gla_content">
            <b></b>
            Scroll
        </a>


    </div>
    <!-- Slider End -->

    <!-- Content -->
    <section id="gla_content" class="gla_content">


       <!-- section -->
        <section class="gla_section gla_image_bck" data-color="#">



            <div class="container text-center">

                <h2>Our Story</h2>
                <h3 class="gla_subtitle">The Fourth of July</h3>



                <p>My fiancé proposed on the Fourth of July. My mother asked us to go to the backyard to get some chairs and he took me by the shed where we could see all of the fireworks. He kissed me, then he took the ring box out of his pocket and asked me to be his wife. He was shaking a little. The proposal was a little silly but perfect, just like him." — Jeska Cords</p>



            </div>
            <!-- container end -->

        </section>
        <!-- section end -->


        <!-- section -->
        <section class="gla_section gla_image_bck gla_fixed" data-stellar-background-ratio="0.2" data-image="{% static 'glanz/golden/images/wedding/ian_kelsey/14815177364_46f0b9d71e_k.jpg' %}">


            <div class="container">
                <div class="row gla_auto_height">
                    <div class="col-md-6 gla_image_bck" data-color="#eee">
                        <div class="gla_simple_block">
                            <h2>Ian Wilson</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio mollitia, ipsa accusamus eius. Aspernatur ab sed minima, doloremque eligendi voluptatibus repellat unde, facilis natus ex ipsum eius atque suscipit fugit.</p>
                            <!-- Social Buttons -->
                            <div class="gla_footer_social">
                                <a href="#"><i class="ti ti-facebook gla_icon_box"></i></a>
                                <a href="#"><i class="ti ti-instagram gla_icon_box"></i></a>
                                <a href="#"><i class="ti ti-google gla_icon_box"></i></a>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6 gla_image_bck" data-image="{% static 'glanz/golden/images/wedding/ian_kelsey/14818410145_0413998881_k.jpg' %}">

                    </div>
                    <div class="col-md-6 col-md-push-6 gla_image_bck" data-color="#eee">
                        <div class="gla_simple_block">
                            <h2>Kelly Johnson</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio mollitia, ipsa accusamus eius. Aspernatur ab sed minima, doloremque eligendi voluptatibus repellat unde, facilis natus ex ipsum eius atque suscipit fugit.</p>
                            <!-- Social Buttons -->
                            <div class="gla_footer_social">
                                <a href="#"><i class="ti ti-facebook gla_icon_box"></i></a>
                                <a href="#"><i class="ti ti-instagram gla_icon_box"></i></a>
                                <a href="#"><i class="ti ti-google gla_icon_box"></i></a>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6 col-md-pull-6 gla_image_bck" data-image="{% static 'glanz/golden/images/wedding/ian_kelsey/14815312201_0608beeccd_k.jpg' %}">

                    </div>
                </div>

            </div>
            <!-- container end -->

        </section>
        <!-- section end -->



        <!-- section -->
        <section class="gla_section gla_image_bck gla_fixed gla_wht_txt" data-stellar-background-ratio="0.2" data-image="{% static 'glanz/golden/images/wedding/ian_kelsey/14795026036_19a656e3f6_k.jpg' %}">

            <!-- Over -->
            <div class="gla_over" data-color="#000" data-opacity="0.7"></div>

            <div class="container text-center">
              <p><img src="{% static 'glanz/golden/images/animations/save_gold.gif' %}" height="280" alt=""></p>
                <h2>April 15th, 2016</h2>
                <h3>St. Thomas's Church,<br>Bristol, U.K.</h3>
                <div class="gla_countdown_gold" data-year="2017" data-month="08" data-day="10"></div>

            </div>
            <!-- container end -->

        </section>
        <!-- section end -->


        <!-- section -->
        <section class="gla_section">


            <div class="container text-center">
              <p><img src="{% static 'glanz/golden/images/animations/ourwedding_gold_wh.gif' %}" height="200" alt=""></p>
                <h3>Wedding Details</h3>
                <p>Our ceremony and reception will be held at the Liberty House. Located on the Hudson River, it has a beautiful, unobstructed view of the World Trade One building and a convenient ferry that runs between it and Manhattan.</p>
                <div class="row text-center">
                    <div class="col-md-4 gla_round_block">
                      <div class="gla_round_im gla_image_bck" data-image="{% static 'glanz/golden/images/wedding/ian_kelsey/600x600/14818599945_45817b7c25_k.jpg' %}"></div>
                        <h3>The Reception</h3>
                        <p>4:00 PM – 5:30 PM<br>
                        St. Thomas's Church,<br>
                        Bristol<br>
                        U.K.<br>
                        +1 777-123-4567</p>
                        <a href="#" class="btn">View Map</a>
                    </div>
                    <div class="col-md-4 gla_round_block">
                      <div class="gla_round_im gla_image_bck" data-image="{% static 'glanz/golden/images/wedding/ian_kelsey/600x600/14814281111_b4f0b02491_k.jpg' %}"></div>
                        <h3>The Ceremony</h3>
                        <p>4:00 PM – 5:30 PM<br>
                        St. Thomas's Church,<br>
                        Bristol<br>
                        U.K.<br>
                        +1 777-123-4567</p>
                        <a href="#" class="btn">View Map</a>
                    </div>
                    <div class="col-md-4 gla_round_block">
                      <div class="gla_round_im gla_image_bck" data-image="{% static 'glanz/golden/images/wedding/ian_kelsey/600x600/14629215270_1dd23b097e_k.jpg' %}"></div>
                        <h3>The Afterparty</h3>
                        <p>4:00 PM – 5:30 PM<br>
                        St. Thomas's Church,<br>
                        Bristol<br>
                        U.K.<br>
                        +1 777-123-4567</p>
                        <a href="#" class="btn">View Map</a>
                    </div>
                </div>


            </div>
            <!-- container end -->

        </section>
        <!-- section end -->


        <!-- section -->
        <section class="gla_section gla_image_bck gla_fixed gla_wht_txt" data-stellar-background-ratio="0.2" data-image="{% static 'glanz/golden/images/wedding/ian_kelsey/14812748891_aef5b27a4a_k.jpg' %}">

            <!-- Over -->
            <div class="gla_over" data-color="#000" data-opacity="0.7"></div>

            <div class="container text-center">
              <p><img src="{% static 'glanz/golden/images/animations/rsvp_gold.gif' %}" height="200" alt=""></p>

                <div class="row">
                    <div class="col-md-8 col-md-push-2">
                        <form action="https://formspree.io/your@mail.com" method="POST">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Your name*</label>
                                    <input type="text" name="name" class="form-control form-opacity">
                                </div>
                                <div class="col-md-6">
                                    <label>Your e-mail*</label>
                                    <input type="text" name="email" class="form-control form-opacity">
                                </div>

                                <div class="col-md-6">
                                    <label>Will you attend?</label>

                                    <input type="radio" name="attend" value="Yes, I will be there">
                                    <span>Yes, I will be there</span><br>
                                    <input type="radio" name="attend" value="Sorry, I can't come">
                                    <span>Sorry, I can't come</span>

                                </div>
                                <div class="col-md-6">
                                    <label>Meal preference</label>
                                    <select name="meal" class="form-control form-opacity">
                                        <option value="I eat anything">I eat anything</option>
                                        <option value="Beef">Beef</option>
                                        <option value="Chicken">Chicken</option>
                                        <option value="Vegetarian">Vegetarian</option>
                                    </select>
                                </div>
                                <div class="col-md-12">
                                    <label>Notes</label>
                                    <textarea name="message" class="form-control form-opacity"></textarea>
                                </div>
                                <div class="col-md-12">
                                    <input type="submit" class="btn submit" value="Send">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>


            </div>
            <!-- container end -->

        </section>
        <!-- section end -->


        <!-- section -->
        <section class="gla_section gla_image_bck">


            <div class="container text-center">

                <h2>The Day They Got Engaged</h2>
                <p>Andy and Jeska met in university in the Graphic Design program. They both remember each other from orientation, but it wasn’t love at first sight, that’s for sure. Andy remembers Jeska as a ‘snooty art bitch (having been in the visual arts program at the time), and she remembers Andy being an ‘arrogant computer nerd’, boasting his knowledge of Macs over the other students.</p>

                <!-- filters -->
                <div class="button-group filter-button-group">
                    <a data-filter="*">Show All</a>
                    <a data-filter=".engagement">Engagement</a>
                    <a data-filter=".ceremony">Ceremony</a>
                </div>
                <!-- filters end -->

                <!-- grid -->
                <div class="gla_portfolio_no_padding grid">

                    <div class="col-sm-4 gla_anim_box grid-item engagement">
                        <div class="gla_shop_item">
                          <a href="{% static 'glanz/golden/images/wedding/ian_kelsey/14629241938_afd1c2c19f_k.jpg' %}" class="lightbox">
                            <img src="{% static 'glanz/golden/images/wedding/ian_kelsey/600x600/14629241938_afd1c2c19f_k.jpg' %}" alt="">
                            </a>



                        </div>
                    </div>

                    <div class="col-sm-4 gla_anim_box grid-item ceremony">
                        <div class="gla_shop_item">
                          <a href="{% static 'glanz/golden/images/wedding/ian_kelsey/14629366249_a895d3c41c_k.jpg' %}" class="lightbox">
                            <img src="{% static 'glanz/golden/images/wedding/ian_kelsey/600x600/14629366249_a895d3c41c_k.jpg' %}" alt="">
                            </a>


                        </div>
                    </div>

                    <div class="col-sm-4 gla_anim_box grid-item engagement">
                        <div class="gla_shop_item">
                          <a href="{% static 'glanz/golden/images/wedding/ian_kelsey/14630573088_e3cb39d65b_k.jpg' %}" class="lightbox">
                            <img src="{% static 'glanz/golden/images/wedding/ian_kelsey/600x600/14630573088_e3cb39d65b_k.jpg' %}" alt="">
                            </a>

                        </div>
                    </div>

                    <div class="col-sm-4 gla_anim_box grid-item ceremony">
                        <div class="gla_shop_item">
                          <a href="{% static 'glanz/golden/images/wedding/ian_kelsey/14630657150_298792a6c8_k.jpg' %}" class="lightbox">
                            <img src="{% static 'glanz/golden/images/wedding/ian_kelsey/600x600/14630657150_298792a6c8_k.jpg' %}" alt="">
                            </a>


                        </div>
                    </div>

                    <div class="col-sm-4 gla_anim_box grid-item engagement">
                        <div class="gla_shop_item">
                          <a href="{% static 'glanz/golden/images/wedding/ian_kelsey/14630753900_1b99896bf8_k.jpg' %}" class="lightbox">
                            <img src="{% static 'glanz/golden/images/wedding/ian_kelsey/600x600/14630753900_1b99896bf8_k.jpg' %}" alt="">
                            </a>


                        </div>
                    </div>

                    <div class="col-sm-4 gla_anim_box grid-item ceremony">
                        <div class="gla_shop_item">
                          <a href="{% static 'glanz/golden/images/wedding/ian_kelsey/14630831637_e89e5458e8_k.jpg' %}" class="lightbox">
                            <img src="{% static 'glanz/golden/images/wedding/ian_kelsey/600x600/14630831637_e89e5458e8_k.jpg' %}" alt="">
                            </a>


                        </div>
                    </div>

                    <div class="col-sm-4 gla_anim_box grid-item engagement">
                        <div class="gla_shop_item">
                          <a href="{% static 'glanz/golden/images/wedding/ian_kelsey/14630835310_d9b28841fa_k.jpg' %}" class="lightbox">
                            <img src="{% static 'glanz/golden/images/wedding/ian_kelsey/600x600/14630835310_d9b28841fa_k.jpg' %}" alt="">
                            </a>


                        </div>
                    </div>

                    <div class="col-sm-4 gla_anim_box grid-item ceremony">
                        <div class="gla_shop_item">
                          <a href="{% static 'glanz/golden/images/wedding/ian_kelsey/14630987977_56c6fb9e97_k.jpg' %}" class="lightbox">
                            <img src="{% static 'glanz/golden/images/wedding/ian_kelsey/600x600/14630987977_56c6fb9e97_k.jpg' %}" alt="">
                            </a>


                        </div>
                    </div>

                    <div class="col-sm-4 gla_anim_box grid-item engagement">
                        <div class="gla_shop_item">
                          <a href="{% static 'glanz/golden/images/wedding/ian_kelsey/14631474507_58851e646e_k.jpg' %}" class="lightbox">
                            <img src="{% static 'glanz/golden/images/wedding/ian_kelsey/600x600/14631474507_58851e646e_k.jpg' %}" alt="">
                            </a>

                        </div>
                    </div>

                    <div class="col-sm-4 gla_anim_box grid-item ceremony">
                        <div class="gla_shop_item">
                          <a href="{% static 'glanz/golden/images/wedding/ian_kelsey/14631570357_9e9bf04679_k.jpg' %}" class="lightbox">
                            <img src="{% static 'glanz/golden/images/wedding/ian_kelsey/600x600/14631570357_9e9bf04679_k.jpg' %}" alt="">
                            </a>


                        </div>
                    </div>

                    <div class="col-sm-4 gla_anim_box grid-item ceremony">
                        <div class="gla_shop_item">
                          <a href="{% static 'glanz/golden/images/wedding/ian_kelsey/14631668589_b6087a9369_k.jpg' %}" class="lightbox">
                            <img src="{% static 'glanz/golden/images/wedding/ian_kelsey/600x600/14631668589_b6087a9369_k.jpg' %}" alt="">
                            </a>


                        </div>
                    </div>

                    <div class="col-sm-4 gla_anim_box grid-item engagement">
                        <div class="gla_shop_item">
                          <a href="{% static 'glanz/golden/images/wedding/ian_kelsey/14631705149_ff402671b6_k.jpg' %}" class="lightbox">
                            <img src="{% static 'glanz/golden/images/wedding/ian_kelsey/600x600/14631705149_ff402671b6_k.jpg' %}" alt="">
                            </a>


                        </div>
                    </div>

                    <div class="col-sm-4 gla_anim_box grid-item engagement">
                        <div class="gla_shop_item">
                          <a href="{% static 'glanz/golden/images/wedding/ian_kelsey/14814210441_d5f33a00f1_k.jpg' %}" class="lightbox">
                            <img src="{% static 'glanz/golden/images/wedding/ian_kelsey/600x600/14814210441_d5f33a00f1_k.jpg' %}" alt="">
                            </a>


                        </div>
                    </div>

                    <div class="col-sm-4 gla_anim_box grid-item ceremony">
                        <div class="gla_shop_item">
                          <a href="{% static 'glanz/golden/images/wedding/ian_kelsey/14814757054_4e9f636ddd_k.jpg' %}" class="lightbox">
                            <img src="{% static 'glanz/golden/images/wedding/ian_kelsey/600x600/14814757054_4e9f636ddd_k.jpg' %}" alt="">
                            </a>


                        </div>
                    </div>

                    <div class="col-sm-4 gla_anim_box grid-item engagement">
                        <div class="gla_shop_item">
                          <a href="{% static 'glanz/golden/images/wedding/ian_kelsey/14818339605_e6e3955e7a_k.jpg' %}" class="lightbox">
                            <img src="{% static 'glanz/golden/images/wedding/ian_kelsey/600x600/14818339605_e6e3955e7a_k.jpg' %}" alt="">
                            </a>


                        </div>
                    </div>

                    <div class="col-sm-4 gla_anim_box grid-item engagement">
                        <div class="gla_shop_item">
                          <a href="{% static 'glanz/golden/images/wedding/ian_kelsey/14817081322_de48f545d9_k.jpg' %}" class="lightbox">
                            <img src="{% static 'glanz/golden/images/wedding/ian_kelsey/600x600/14817081322_de48f545d9_k.jpg' %}" alt="">
                            </a>


                        </div>
                    </div>

                    <div class="col-sm-4 gla_anim_box grid-item ceremony">
                        <div class="gla_shop_item">
                          <a href="{% static 'glanz/golden/images/wedding/ian_kelsey/14816119004_915ea67cff_k.jpg' %}" class="lightbox">
                            <img src="{% static 'glanz/golden/images/wedding/ian_kelsey/600x600/14816119004_915ea67cff_k.jpg' %}" alt="">
                            </a>


                        </div>
                    </div>

                    <div class="col-sm-4 gla_anim_box grid-item engagement">
                        <div class="gla_shop_item">
                          <a href="{% static 'glanz/golden/images/wedding/ian_kelsey/14815470541_082c1294ad_k.jpg' %}" class="lightbox">
                            <img src="{% static 'glanz/golden/images/wedding/ian_kelsey/600x600/14815470541_082c1294ad_k.jpg' %}" alt="">
                            </a>


                        </div>
                    </div>






                 </div>
                 <!-- grid end -->



            </div>
            <!-- container end -->

        </section>
        <!-- section end -->


        <!-- section -->
        <section class="gla_section gla_image_bck gla_wht_txt gla_fixed" data-stellar-background-ratio="0.2" data-image="{% static 'glanz/golden/images/wedding/ian_kelsey/14631668589_b6087a9369_k.jpg' %}">

            <!-- Over -->
            <div class="gla_over" data-color="#000" data-opacity="0.7"></div>

            <div class="container text-center">

              <p><img src="{% static 'glanz/golden/images/animations/thanks_gold.gif' %}" height="140" alt=""></p>
                <h2>Registry</h2>
                <p>We’re lucky enough to have nearly everything we need for our home already. And since neither of us has ever been outside of North America, we want our honeymoon to be extra special! If you want to help make it unforgettable, you can contribute using the link to the right. If you would like to give us something to update our home, we’ve compiled a short registry as well.</p>

                <!-- icon boxes -->
                <div class="gla_icon_boxes gla_partners row">


                    <!-- item -->
                    <div class="gla_partner_box">
                      <a href="#"><img src="{% static 'glanz/golden/images/partners/macys-logo.png' %}" height="80" alt=""></a>
                    </div>

                    <!-- item -->
                    <div class="gla_partner_box">
                      <a href="#"><img src="{% static 'glanz/golden/images/partners/amazon.png' %}" height="80" alt=""></a>
                    </div>

                    <!-- item -->
                    <div class="gla_partner_box">
                      <a href="#"><img src="{% static 'glanz/golden/images/partners/bed-bath-beyond-logo.png' %}" height="80" alt=""></a>
                    </div>

                    <!-- item -->
                    <div class="gla_partner_box">
                      <a href="#"><img src="{% static 'glanz/golden/images/partners/crate.png' %}" height="80" alt=""></a>
                    </div>

                    <!-- item -->
                    <div class="gla_partner_box">
                      <a href="#"><img src="{% static 'glanz/golden/images/partners/newly.png' %}" height="80" alt=""></a>
                    </div>

                    <!-- item -->
                    <div class="gla_partner_box">
                      <a href="#"><img src="{% static 'glanz/golden/images/partners/macys-logo.png' %}" height="80" alt=""></a>
                    </div>

                    <!-- item -->
                    <div class="gla_partner_box">
                      <a href="#"><img src="{% static 'glanz/golden/images/partners/amazon.png' %}" height="80" alt=""></a>
                    </div>

                    <!-- item -->
                    <div class="gla_partner_box">
                      <a href="#"><img src="{% static 'glanz/golden/images/partners/bed-bath-beyond-logo.png' %}" height="80" alt=""></a>
                    </div>

                    <!-- item -->
                    <div class="gla_partner_box">
                      <a href="#"><img src="{% static 'glanz/golden/images/partners/crate.png' %}" height="80" alt=""></a>
                    </div>

                    <!-- item -->
                    <div class="gla_partner_box">
                      <a href="#"><img src="{% static 'glanz/golden/images/partners/newly.png' %}" height="80" alt=""></a>
                    </div>






                </div>
                <!-- icon boxes end -->



            </div>
            <!-- container end -->

        </section>
        <!-- section end -->


        <!-- section -->
        <section class="gla_section gla_image_bck" data-color="#fff">


            <div class="container text-center">

                <h2>The Wedding Party</h2>

                <div class="row text-center">
                    <div class="col-md-3 gla_round_block">
                      <div class="gla_round_im gla_image_bck" data-image="{% static 'glanz/golden/images/wedding/ian_kelsey/600x600/14631705149_ff402671b6_k.jpg' %}"></div>
                        <h4>Jessica Robbinson</h4>
                    </div>
                    <div class="col-md-3 gla_round_block">
                      <div class="gla_round_im gla_image_bck" data-image="{% static 'glanz/golden/images/wedding/ian_kelsey/600x600/14631825380_36864500ba_k.jpg' %}"></div>
                        <h4>Ronald Down</h4>
                    </div>
                    <div class="col-md-3 gla_round_block">
                      <div class="gla_round_im gla_image_bck" data-image="{% static 'glanz/golden/images/wedding/ian_kelsey/600x600/14631742628_f5ea2dcbc5_k.jpg' %}"></div>
                        <h4>Marry Clay</h4>
                    </div>
                    <div class="col-md-3 gla_round_block">
                      <div class="gla_round_im gla_image_bck" data-image="{% static 'glanz/golden/images/wedding/ian_kelsey/600x600/14631884719_c89cc9f497_k.jpg' %}"></div>
                        <h4>John Pitterson</h4>
                    </div>

                    <div class="col-md-3 gla_round_block">
                      <div class="gla_round_im gla_image_bck" data-image="{% static 'glanz/golden/images/wedding/ian_kelsey/600x600/14631836527_027fc64457_k.jpg' %}"></div>
                        <h4>Katy Auzmann</h4>
                    </div>
                    <div class="col-md-3 gla_round_block">
                      <div class="gla_round_im gla_image_bck" data-image="{% static 'glanz/golden/images/wedding/ian_kelsey/600x600/14631847169_9254b6da2c_k.jpg' %}"></div>
                        <h4>Mark Donald</h4>
                    </div>
                    <div class="col-md-3 gla_round_block">
                      <div class="gla_round_im gla_image_bck" data-image="{% static 'glanz/golden/images/wedding/ian_kelsey/600x600/14815261061_7ef2b91207_k.jpg' %}"></div>
                        <h4>Ann Willson</h4>
                    </div>
                    <div class="col-md-3 gla_round_block">
                      <div class="gla_round_im gla_image_bck" data-image="{% static 'glanz/golden/images/wedding/ian_kelsey/600x600/14815417521_d0f38daff1_k.jpg' %}"></div>
                        <h4>Dominic Shilz</h4>
                    </div>
                </div>



            </div>
            <!-- container end -->

        </section>
        <!-- section end -->







        <!-- section -->
        <section class="gla_section gla_image_bck gla_fixed gla_wht_txt" data-stellar-background-ratio="0.8" data-image="{% static 'glanz/golden/images/wedding/ian_kelsey/14815470541_082c1294ad_k.jpg' %}">

            <!-- Over -->
            <div class="gla_over" data-color="#000" data-opacity="0.7"></div>

            <div class="container text-center">
              <p><img src="{% static 'glanz/golden/images/animations/just_gold.gif' %}" height="143" alt=""></p>



            </div>
            <!-- container end -->

        </section>
        <!-- section end -->






    </section>
    <!-- Content End -->




</div>
<!-- Page End -->



<!-- JQuery -->
<script src="{% static 'glanz/golden/js/jquery-1.12.4.min.js' %}"></script>
<!-- Library JS -->
<script src="{% static 'glanz/golden/js/glanz_library.js' %}"></script>

<!-- Theme JS -->
<script src="{% static 'glanz/golden/js/glanz_script.js' %}"></script>


</body>
</html>
{% endspaceless %}
